{# Home page for car dealershoip search with bootstrap form #}

<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/styles.css'>
    <title>Find a Car</title>
</head>
<body>
    <div class='container'>
        <h1>Find a Car!</h1>
        <form action='/car_results'>
            <div class='form-group'>
                <label for='price'>Enter Maximum Price:</label>
                <input id='price' name='price' class='form-control'type='number'>
                <label for='miles'>Enter Maximum Mileage:</label>
                <input id='miles' name='miles' class='form-control' type='number'>
            </div>
            <button type='submit' class='btn btn-primary btn-lg'>Submit</button>
        </form>

        <form action='/New_Car' method='post'>
            <div class='form-group'>
                <label for='price'>Enter Asking Price:</label>
                <input id='price' name='price' class='form-control'type='number'>
            </div>
            <div class='form-group'>
                <label for='miles'>Enter Mileage:</label>
                <input id='miles' name='miles' class='form-control' type='number'>
                <label for='make_model' >Enter Make/Model:</label>
                <input id='make_model' name='make_model' class='form-control' type='text'>
                <label for='picture'> Enter picture URL </label>
                <input id='picture' name='picture' class='form-control' type='text'
            </div>

            <button type='submit' class='btn btn-primary btn-lg'>Submit</button>
        </form>
    </div>
    <p><a href='/your_cars'>View your cars.</a></p>
</body>
</html>
