<html>
<head>
    <title>New Car Posted!</title>
</head>
<body>
    <h1>Your car has been added!</h1>
    <p>{{ newcar.getMake_Model }}</p>
    <p>{{ newcar.getPrice }}</p>
    <p>{{ newcar.getMiles }}</p>
    <p><img src="{{ newcar.getPicture }}"></p>
    <p><a href='/'>View your list of things to do.</a></p>
</body>
</html>
