<html>
<head>
    <title>New Car Posted!</title>
</head>
<body>
    <h1>Your car has been added!</h1>
    <p>{{ newcar.getMake_Model }}</p>
    <p>{{ newcar.getPrice }}</p>
    <p>{{ newcar.getMiles }}</p>
    <p><img src="{{ newcar.getPicture }}"></p>
    <p><a href='/'>Return to Home Page.</a></p>
    <p><a href='/your_cars'>View your list of cars.</a></p>
</body>
</html>
